<div class="animated animated-fade-in-up fade-in-up">
    <div class="mb-5 card border-0 shadow">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between">
                <h5 class="font-family-medium font-weight-bold">
                    <i class="me-2 fa-duotone fa-user-shield"></i>
                    Role
                </h5>

                <button *hasPermission="modulePermission + 'Create'" type="button" class="float-end btn btn-sm btn-primary shadow-sm" (click)="createData()">
                    <i class="me-2 fa-duotone fa-plus"></i>Tambah Data
                </button>
            </div>

            <form class="mt-4 d-flex align-items-center">
                <div class="input-group w-auto me-4">
                    <input type="text" class="form-control input-append" id="filter-name" name="name" [(ngModel)]="filter.name" placeholder="cari nama role" autocomplete="off" />
                    <div class="input-group-append" role="button" (click)="loadData()">
                        <span class="input-group-text text-muted">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>

                <c-dropdown alignment="start" variant="nav-item" class="mx-4">
                    <div role="button" cDropdownToggle [caret]="false" [ngClass]="filter.sort ? 'text-primary' : ''">
                        <i class="fa-duotone fa-arrow-down-wide-short"></i>&nbsp;&nbsp; <span class="font-family-bold">Sortir</span>
                    </div>
                    
                    <ul cDropdownMenu style="min-width:10rem" class="border-0 shadow">                                    
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('name-asc')">
                                <ng-container *ngIf="filter.sort === 'name-asc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'name-asc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>

                                Nama meningkat
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('name-desc')">
                                <ng-container *ngIf="filter.sort === 'name-desc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'name-desc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Nama menurun
                            </div>
                        </li>     
                    </ul>
                </c-dropdown>
            </form>

            <table class="mt-4 table table-hover shadow-sm">
                <thead>
                    <tr class="bg-light">
                        <th class="p-3">No</th>
                        <th class="p-3">Nama</th>
                        <th class="p-3 text-center">Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngIf="loadingData">
                        <tr *ngFor="let array of fakeArray">
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="!loadingData">
                        <tr *ngFor="let row of data | paginate: { id: 'roles',
                            itemsPerPage: itemsPerPage,
                            currentPage: currentPage,
                            totalItems: totalItems }; let i = index">

                            <td class="px-3 align-middle">{{ ((currentPage - 1) * itemsPerPage) + i + 1 }}</td>
                            <td class="px-3 align-middle">{{ row.name }}</td>
                            <td class="px-3 text-center align-middle">
                                <c-dropdown alignment="end" variant="nav-item">
                                    <div cDropdownToggle [caret]="false">
                                        <i role="button" class="px-3 fa-light fa-ellipsis-stroke-vertical"></i>
                                    </div>
                                    
                                    <ul cDropdownMenu style="min-width:10rem" class="border-0 shadow">                                    
                                        <li *hasPermission="modulePermission + 'Update'">
                                            <div cDropdownItem role="button" class="px-2" (click)="editData(row)">
                                                <i class="me-2 fa-duotone fa-pencil"></i><span class="font-family-bold">Ubah</span>
                                            </div>
                                        </li>     
                                        <li *hasPermission="modulePermission + 'Delete'">
                                            <div cDropdownItem role="button" class="px-2" (click)="deleteData(row.id)">
                                                <i class="me-2 fa-duotone fa-trash"></i>&nbsp;<span class="font-family-bold">Hapus</span>
                                            </div>
                                        </li>     
                                    </ul>
                                </c-dropdown>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="mt-4 row">
                <div class="col-6 font-family-bold">Total Item: {{ totalItems }}</div>
                <div class="col-6 text-end">
                    <pagination-controls [hidden]="loadingData" id="roles" previousLabel="" nextLabel="" [autoHide]="true" (pageChange)="loadData($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal form -->
<ng-template #formModal>
    <div class="modal-header border-0">
        <h5 class="font-family-bold">{{ formTitle }}</h5>
        <div role="button" class="ms-auto" (click)="closeForm()">
            <i class="fa-regular fa-circle-xmark fa-xl text-black"></i>
        </div>
    </div>

    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-3">
                <label for="name" class="mb-2 font-family-bold">Nama*</label>
                <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="form.name" placeholder="nama role" autocomplete="off" />
                <div class="mt-1 small text-danger error-input">{{ formValidation.name.message }}</div>
            </div>
        </div>

        <div class="row"><div class="col-12"><hr/></div></div>

        <div *ngFor="let permission of permissions | keyvalue" class="row">
            <div class="mb-3 col-12">
                <h5 class="mb-3">{{ permission.key }}</h5>

                <div *ngFor="let subtitle of permission.value | keyvalue" class="row">
                    <div class="col-3 font-weight-bold">{{ subtitle.key }}</div>

                    <div *ngFor="let item of subtitle.value" class="col-2 checkboxes">
                        <label for="{{ item.fullname }}">
                            <input type="checkbox" id="{{ item.fullname }}" value="{{ item.fullname }}" [checked]="checkedPermission(item.fullname)" (change)="onCheckboxChange(item.fullname)"/>
                            <span class="ms-1">{{ item.value }}</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button [disabled]="isSubmitting" type="button" class="btn btn-sm btn-secondary shadow-sm" (click)="closeForm()">
                <i class="me-2 fa-regular fa-rotate-left"></i>Kembali
            </button>

            <button [hidden]="viewMode" [disabled]="isSubmitting" type="button" class="ms-3 btn btn-sm btn-primary shadow-sm" (click)="save()">
                <ng-container *ngIf="isSubmitting">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    menyimpan...
                </ng-container>
            
                <ng-container *ngIf="!isSubmitting">
                    <i class="me-2 fa-regular fa-floppy-disk"></i>Simpan
                </ng-container>
            </button>
        </div>
    </div>
</ng-template>
