<div class="animated animated-fade-in-up fade-in-up">
    <div class="mb-5 card border-0 shadow">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between">
                <h5 class="font-family-medium font-weight-bold">
                    <i class="me-2 fa-duotone fa-duotone fa-layer-group"></i>
                    Stok
                </h5>

                <button [disabled]="loading.export" type="button" class="float-end btn btn-sm btn-primary shadow-sm" (click)="exportExcel()">
                    <ng-container *ngIf="loading.export">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        mengekspor...
                    </ng-container>
                
                    <ng-container *ngIf="!loading.export">
                        <i class="me-2 fa-regular fa-file-excel"></i>Export Excel
                    </ng-container>
                </button>
            </div>

            <form class="mt-4 d-flex align-items-center">
                <div class="input-group w-auto me-4">
                    <input type="text" class="form-control input-append" id="filter-name" name="name" [(ngModel)]="filter.name" placeholder="cari nama barang" autocomplete="off" />
                    <div class="input-group-append" role="button" (click)="loadData()">
                        <span class="input-group-text text-muted">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>

                <c-dropdown alignment="start" variant="nav-item" class="mx-4">
                    <div role="button" cDropdownToggle [caret]="false" [ngClass]="filter.sort ? 'text-primary' : ''">
                        <i class="fa-duotone fa-arrow-down-wide-short"></i>&nbsp;&nbsp; <span class="font-family-bold">Sortir</span>
                    </div>
                    
                    <ul cDropdownMenu style="min-width:10rem" class="border-0 shadow">                                    
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('name-asc')">
                                <ng-container *ngIf="filter.sort === 'name-asc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'name-asc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>

                                Nama meningkat
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('name-desc')">
                                <ng-container *ngIf="filter.sort === 'name-desc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'name-desc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Nama menurun
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('update-asc')">
                                <ng-container *ngIf="filter.sort === 'update-asc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'update-asc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Tgl. diperbarui meningkat
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('update-desc')">
                                <ng-container *ngIf="filter.sort === 'update-desc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'update-desc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Tgl. diperbarui menurun
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('total-asc')">
                                <ng-container *ngIf="filter.sort === 'total-asc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'total-asc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Total meningkat
                            </div>
                        </li>     
                        <li>
                            <div cDropdownItem role="button" class="px-2" (click)="sort('total-desc')">
                                <ng-container *ngIf="filter.sort === 'total-desc'">
                                    <i class="me-2 fa-regular fa-check"></i> 
                                </ng-container>

                                <ng-container *ngIf="filter.sort !== 'total-desc'">
                                    <i class="me-3 fa-solid"></i>&nbsp;
                                </ng-container>
                                
                                Total menurun
                            </div>
                        </li>     
                    </ul>
                </c-dropdown>
            </form>

            <table class="mt-4 table table-hover shadow-sm">
                <thead>
                    <tr class="bg-light">
                        <th class="p-3">No</th>
                        <th class="p-3">Nama</th>
                        <th class="p-3">Total</th>
                        <th class="p-3">Satuan</th>
                        <th class="p-3">Terakhir Diperbarui</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngIf="loadingData">
                        <tr *ngFor="let array of fakeArray">
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                            <td><div class="bg-white"><ngx-skeleton-loader [theme]="{ 'border-radius': '5px', 'background-color': '#e9e9e9', 'margin-bottom': '0px' }"></ngx-skeleton-loader></div></td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="!loadingData">
                        <tr *ngFor="let row of data | paginate: { id: 'stocks',
                            itemsPerPage: itemsPerPage,
                            currentPage: currentPage,
                            totalItems: totalItems }; let i = index">

                            <td class="px-3 align-middle">{{ ((currentPage - 1) * itemsPerPage) + i + 1 }}</td>
                            <td class="px-3 align-middle">{{ row.name }}</td>
                            <td class="px-3 align-middle">{{ row.total | numberPipe }}</td>
                            <td class="px-3 align-middle">{{ row.unit }}</td>
                            <td class="px-3 align-middle">{{ row.updated_at_parsed }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="mt-4 row">
                <div class="col-6 font-family-bold">Total Item: {{ totalItems }}</div>
                <div class="col-6 text-end">
                    <pagination-controls [hidden]="loadingData" id="items" previousLabel="" nextLabel="" [autoHide]="true" (pageChange)="loadData($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
